
<p>
  <strong> User: </strong>
  <%= @user.name %>
</p>
<div class=" "row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<% if @user.microposts.any? %>
  <h3>Microposts (<%= @user.microposts.count %>)</h3>
  <ol class="microposts">
    <% @user.microposts.each do |micropost| %>
    <li>
      <span class="content">
      <%= micropost.content %>
      </span>
      <span class="timestamp">
        posted <%= time_ago_in_words(micropost.created_at) %> ago.
      </span>
    </li>
    <% end %>
  </ol>
<% end %>

