<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        <h1><%= current_user.name %></h1>
        <span><%= pluralize(current_user.microposts.count, "micropost") %></span><br>
        <span><%= link_to "view my posts", current_user %></i></span>

      </section>
    </aside>
  </div>
<% else %>
<div class="jumbotron">
  <h1> welcome to the sample app </h1>
  <h2 >
    this is the sample page
  </h2>
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>


